:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


/* DARK THEME */
body[data-theme="dark"] {

  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #0d1117;
  --border: #30363d;
  --code-bg: #161b22;
  --accent: #58a6ff;

}


/* LIGHT THEME */
body[data-theme="light"] {

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {

  background: var(--bg);

  color: var(--text);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

}



#root {

  width: 1126px;
  max-width: 100%;
  margin: 0 auto;

  min-height: 100vh;

  border-inline: 1px solid var(--border);

  display: flex;
  flex-direction: column;

}



h1,
h2 {

  font-family: var(--heading);

  color: var(--text-h);

  font-weight: 500;

}



p {
  margin: 0;
}



code {

  font-family: var(--mono);

  background: var(--code-bg);

  color: var(--text-h);

  padding: 4px 8px;

  border-radius: 4px;

}